@import "tailwindcss";

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

:root {
	--background: #ffffff;
	--foreground: #ededed;
	--primary-dark: #1f2937; /* Azul marino (gray-800) */
	--accent: #ef4444; /* Rojo tailwind (red-500) */
	--text-light: #ededed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--accent) !important;
}

/* Dark mode opcional */
@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
		--primary-dark: #111827; /* gray-900 si quieres más oscuro aún */
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

.bg-primary-dark {
	background-color: var(--primary-dark);
}
.text-accent {
	color: var(--accent);
}

.ant-menu-item-selected {
	color: #f0f0f0 !important; /* o el color que uses normalmente (como text-white) */
	background-color: rgba(
		104,
		104,
		104,
		0.08
	) !important; /* leve fondo en hover */
}
